<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Blog</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">All of the articles from my blog</p>
<section id="blog">
<div class="d-sm-flex flex-wrap gutter-condensed mb-4">
  {% for post in site.posts %}
  <aside>
    <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
      {% include post-card.html %}
    </div>
  </aside>
  {% endfor %}
</div>
</section>