{% if site.style == 'dark' %}
  {% assign icon_color = "#ffffff" %}
{% else %}
  {% assign icon_color = "#24292e" %}
{% endif %}

{% assign content = page.content %}

{% assign posts_total = site.posts | size %}

{% if page.path contains '_posts' %}
  {% assign page_title = page.title %}
  {% assign meta_description = page.content | strip_html | strip_newlines | xml_escape | truncate: 300 %}
{% else %}
  {% assign page_title = user.name %}
  {% assign meta_description = user.bio | strip_html | strip_newlines | xml_escape | truncate: 300 %}
{% endif %}

<!doctype html>
<html class="min-height-full">
  <head>
    <meta charset="utf-8">
    <title>{{ page_title }}</title>
    <meta name="description" content="{{ meta_description }}" />
    <meta property="og:title" content="{{ user.name }}" />
    <meta property="og:image" content="{{ user.avatar_url }}" />
    <meta property="og:description" content="{{ meta_description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://andybrewer.github.io/mvp/mvp.css" />
    <link rel="stylesheet" href="assets/css/socicon.css"/>
    <link href="/assets/css/styles.css" rel="stylesheet" type="text/css">
    <script type="text/javascript">
      var _paq = window._paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//nfogix.com/";
        _paq.push(['setTrackerUrl', u+'api/track']);
        _paq.push(['setSiteId', '00126087-c090-46f3-b6b1-de42ad3d44d1']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'js/nfogix.min.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
  </head>
  <header>
    <nav>
      <a class="logo" href="/"
        ><img alt="Filip Troníček" src="./assets/img/logo.png" height="70"
      /></a>
      <ul>
        <li><a href="#intro">What do I do</a></li>

        <li><a href="#portfolio">Portfolio</a></li>


        <li><a href="#contact">Where to find me</a></li>

        <li>
          <a href="/posts"
            >Blog </a
          >
        </li>
        <li>
          <a href="https://www.github.com/filiptronicek" target="_blank"
            >GitHub &nearr;</a
          >
        </li>
      </ul>
    </nav>
    <h1>I am <u>Filip Troníček</u></h1>
    <p>An aspiring <mark id="changingText">web developer</mark>.</p>
    <br />
  </header>
  <body class="bg-white min-height-full" {% if site.style == 'dark' %}style="background-color: #2f363d !important"{% endif %}>
      <main>