<div class="height-full text-left {% if site.style == 'dark' %}box-shadow{% else %}border border-gray-light{% endif %} bg-white rounded-1 p-3">
      <h3 class="f4 lh-condensed mb-1">
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
        </a>
      </h3>
    <p class="text-gray mb-2 ws-normal">{{ post.date | date: "%B %d, %Y"}}</p>
  </div>