
<section id="blog"> 

  <header>
    <h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>The latest from my blog</h2>
  </header>
  {% for post in site.posts limit: 3 %}
  <aside>
      {% include post-card.html %}
  </aside>
  {% endfor %}

</section>

