$bg_color: #2a2a2e;
@media (prefers-color-scheme: dark) {
    body {
        background: $bg_color;  
        color: #fff;
    }
    body > main:nth-child(2) > section:nth-child(3) aside {
        box-shadow: none;
    }
}
