$border_radius: 50px;

@import "./dark";

.logo img {
  border-radius: $border_radius;
}

mark#changingText {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  -webkit-animation: typing 3.5s steps(40, end),
    blink-caret 0.75s step-end infinite;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@-webkit-keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
.mainImg {
  position: relative;
  top: 0;
  left: 0;
  transition-duration: 500ms;
  width: 50vw;
}
.imgSubject {
  position: absolute;
  width: 50%;
  left: calc(25vw - 3px);
  transition-duration: 500ms;
}

.d-sm-flex > aside {
  margin-left: 30px;
}

.d-sm-flex > aside > div >  h3 {
  text-align: left;
}

@media only screen and (min-device-width: 1920px) {
    .substImg {
      display: block !important;
        width: 100vw;
    }
    .mainImg {
      display: none;
    }
    .imgSubject {
      display: none;
    }
    .additionInfo {
      display: none;
    }
}

.icon {
    font-size: 3rem;
    margin-right: 30px;
}
img {
  max-width: 50vw;
}