{% include header.html %}

{% if site.layout == 'stacked' %}
<div class="container-lg py-6 p-responsive text-center">
  {% include masthead.html metadata=true %}

  <div {% if site.style == 'dark' %}class="text-white" {% endif %}>
    {{ content }}
  </div>

  <div class="my-6">
    {% include projects.html %}
  </div>

  {% unless posts_total == 0 %}
  <div class="my-6">
    {% include thoughts.html %}
  </div>
  {% endunless %}
</div>
{% else %}
<div class="d-md-flex min-height-full {% unless site.style == 'dark' %}border-md-bottom{% endunless %}">

  <div class="col-md-7 col-lg-8 col-xl-9 px-4 py-6 px-lg-7 border-top border-md-top-0 bg-gray-light"
    {% if site.style == 'dark' %}style="background-color: #2f363d !important" {% endif %}>
    <div class="mx-auto" style="max-width: 900px;">
      {% unless content == ""  %}
      <div class="f4 {% if site.style == 'dark' %}text-white{% endif %} mb-6">
        {{ content }}
      </div>
      {% endunless %}
      {% unless posts_total == 0 %}
      {% include thoughts.html %}
      {% endunless %}

<!-- Include the calendar library. -->
<main>
  <figure>
    <center>
      <div id="image">
        <img
        style="display: none;"
        class="substImg"
        src="./assets/img/heading.jpg"
        alt=""
        />
        <img
          class="mainImg"
          src="./assets/img/heading.png"
          alt=""
          id="main"
        />
        <img
          src="./assets/img/me-transparent.png"
          alt=""
          class="imgSubject"
          onmouseover="document.getElementById('main').style.filter = 'blur(7px)'"
          onmouseout="document.getElementById('main').style.filter = 'blur(0px)'"
        />
      </div>
    </center>

    <figcaption><i>Hi! That's me</i> <span class="additionInfo">(from my <a href="https://imageblur.now.sh/" target="_blank">blur-on-hover</a> demo)</span></figcaption>
  </figure>
  <hr />
  <section id="intro">
    <header>
      <h2>Well, mr. teenager, what do you actually do?</h2>
      <p>I do a lot of stuff, actually, but these are my best qualities</p>
    </header>
    <aside>
      <img
        alt="An image of HTML, CSS and JavaScript"
        src="./assets/img/static-tech.svg"
        height="150"
      />
      <h3>HTML, CSS & JS</h3>
      <p>I do a lot of websites. Simple or fancy ones. You name it.</p>
    </aside>
    <aside>
      <img
        alt="Server image"
        src="./assets/img/server.svg"
        height="150"
      />
      <h3>Backend apps</h3>
      <p>Developing backend apps with PHP or Node.js</p>
    </aside>
    <aside>
      <img alt="MIT license" src="./assets/img/desktop.svg" height="150" />
      <h3>Desktop apps</h3>
      <p>
        I also love developing apps in Python on the desktop! And even more
        fancy apps with Electron
      </p>
    </aside>
  </section>
  <hr />
  <section id="portfolio">
    <header>
      <h2>Portfolio</h2>
      <p>A short portfolio of my projects</p>
    </header>
    <aside>
      <h3>Interclip</h3>
      <p>A multi-platform clipboard sharing tool</p>
      <a
        target="_blank"
        href="https://www.nodesagency.com/hacktoberfest2019-interclip/"
        >Post by Nodes &nearr;</a
      >
      <br />
      <a
        target="_blank"
        href="https://github.com/aperta-principium/Interclip-desktop"
        >Interclip desktop on GitHub &nearr;</a
      >
      <br />
      <a target="_blank" href="http://uni.hys.cz"
        >Interclip web app &nearr;</a
      >
    </aside>
    <aside>
      <h3>Coronavirus tracker</h3>
      <p>A website for tracking the novel Coronavirus</p>
      <a target="_blank" href="https://coronatime.now.sh/"
        >App link &nearr;</a
      >
    </aside>
    <aside>
      <h3>A private real-time chatting app</h3>
      <p>
        A simple web-based chatting app written in JavaScript (Node.js)
        using web sockets.
      </p>
      <a target="_blank" href="https://chat-private.herokuapp.com/"
        >App link &nearr;</a
      >
      <br />
      <a target="_blank" href="https://github.com/filiptronicek/Chat-app"
        >Source code on GitHub &nearr;</a
      >
    </aside>

  </section>
  <hr>
  <section id="portfolio">
    <header>
      <h2>Client portfolio</h2>
      <p>A short portfolio of projects for clients</p>
    </header>
    <aside>
      <h3>PHG Novinky</h3>
      <p>A school news website</p>
      <a
        target="_blank"
        href="https://phgnovinky.cz/"
        >Website &nearr;</a
      >
    
    </aside>
    <aside>
      <h3>Neurologie Praha 6</h3>
      <p>A neurology website</p>
      <a target="_blank" href="https://www.neurologiepraha6.cz/"
        >Website &nearr;</a
      >
    </aside>


  </section>
  <hr>
  <section id="contact">
    <header>
      <h2>Where to find me</h2>
      <img src="./assets/img/socials.svg" alt="" height="250" />
    </header>
    <a href="https://www.linkedin.com/in/filiptronicek" target="_blank">
      <i class="socicon-linkedin icon"></i>
    </a>
    <a href="https://twitter.com/filiptronicek" target="_blank">
      <i class="socicon-twitter icon"></i>
    </a>
    <a href="https://www.hackerrank.com/filip_tronicek" target="_blank">
      <i class="socicon-hackerrank icon"></i>
    </a>
    <a href="https://www.instagram.com/filiptronicek93" target="_blank">
      <i class="socicon-instagram icon"></i>
    </a>
    <a href="mailto:filip.tronicek@seznam.cz" target="_blank">
      <i class="socicon-mail icon"></i>
    </a>
  </section>
  <hr />
  <section id="testimonials">
    <blockquote>
      <img
        alt="Quote"
        src="./assets/img/source-code.svg"
        height="80"
      /><br />
      "Why do I code? Because code rocks!"
      <footer><i>- me, 2020</i></footer>
    </blockquote>
  </section>
</main>


<br>

<script src="assets/js/index.js"></script>

    </div>
  </div>
</div>

{% endif %}

{% include footer.html %}