{% include header.html %}

{% if site.layout == 'stacked' %}
<div class="container-lg py-6 p-responsive text-center">
  {% include masthead.html metadata=true %}

  <div {% if site.style == 'dark' %}class="text-white" {% endif %}>
    {{ content }}
  </div>



  {% unless posts_total == 0 %}

  <div class="my-6">
    {% include all_posts.html %}
  </div>
  {% endunless %}
</div>
{% else %}
<div class="d-md-flex min-height-full {% unless site.style == 'dark' %}border-md-bottom{% endunless %}">

  <div class="col-md-7 col-lg-8 col-xl-9 px-4 py-6 px-lg-7 border-top border-md-top-0 bg-gray-light"
    {% if site.style == 'dark' %}style="background-color: #2f363d !important" {% endif %}>
    <div class="mx-auto" style="max-width: 900px;">
      {% unless content == ""  %}
      <div class="f4 {% if site.style == 'dark' %}text-white{% endif %} mb-6">
        {{ content }}
      </div>
      {% endunless %}
      
      {% unless posts_total == 0 %}
      <p class="f5"><a href="/" style="color:#0366d6;text-decoration: none;" class="d-flex flex-items-center">{% octicon chevron-left height:16 class:"mr-2 v-align-middle" fill:#0366d6 aria-label:Home %}&nbsp;Home</a></p>

      {% include all_posts.html %}
      {% endunless %}




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


    </div>
  </div>
</div>

{% endif %}

{% include footer.html %}